gym
hydra-core>=1.1
imgviz
iopath
omegaconf
opencv-python
path
pyglet
setuptools
simplejson
tensorboard
timm
trimesh
wandb
termcolor
pyquaternion
scipy
joblib
h5py
diffusers>=0.11.1
sentence_transformers
