autolab_core
casadi
diffusers
glfw
joblib
loguru
matplotlib==3.5.1
mujoco
mujoco-python-viewer
numpy
opencv-python
pathlib
pure-python-adb
redis
rerun-sdk
scipy
timm==0.5.4
tqdm
ur_rtde
vector-quantize-pytorch
